DATABASE_URL=postgres://u2b90trh8unrdr:pae88cc45c0928d32861d56b8c08cfb66ef413ec18b23b39e095894c1d8072f72@cee3ebbhveeoab.cluster-czrs8kj4isg7.us-east-1.rds.amazonaws.com:5432/d4fi3p4ghduu97
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_PUBLISHABLE_KEY=pk_test_51QsId7GgqhKHyWqaNm9VtzsiuQYcPQRkygGAMkDBkmM1U5a0KV2ObkO8H1yhUQ0xGndfZfVLREgN7fPwbp50oTDN00fjVekcRr
PORT=3000
POSTGRES_USER=capecontrol
POSTGRES_PASSWORD=password123
POSTGRES_DB=capecontrol_db
